@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #16a34a;
  --primary-foreground: #f9fafb;
  --secondary: #e5e7eb;
  --secondary-foreground: #111827;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --primary: #22c55e;
  --primary-foreground: #022c22;
  --secondary: #27272a;
  --secondary-foreground: #f4f4f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #22c55e;
    --primary-foreground: #022c22;
    --secondary: #374151;
    --secondary-foreground: #f9fafb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bai-jamjuree), sans-serif;
  overscroll-behavior-y: none;
}

html {
  background: #0a0a0a;
  overscroll-behavior-y: none;
}

/* Custom Scrollbar Styling */
@layer base {

  /* For Webkit browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(203, 213, 225, 0.6);
    /* slate-300 with opacity */
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(148, 163, 184, 0.8);
    /* slate-400 with opacity */
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(203, 213, 225, 0.6) transparent;
  }
}